.styled-button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.styled-button:hover {
    background-color: #27ae60;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
